h1{text-align: center;
    font-family: sans-serif;
}
.a{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.b{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.c{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.d{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
    padding: 20px;
}
.e{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.f{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.g{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.h{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.i{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.j{
    width: 400px ;
    border-radius: 30px
}
.k{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
}
.l{
    width: 400px ;
    border-radius: 30px;
    padding: 20px;
    
}
body{
    background-color: bisque;
}
header{
    background-color: bisque;
}


